@import "./mixins.scss";

body {
  margin: 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  color: wheat;
  letter-spacing: 1px;
}

.bg-img {
  padding: 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  background-image: url("../../static/assets/backgrounds/clearsky.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
  filter: blur(10px);
  transform: scale(1.04);
}

.page-wrapper {
  @include flex-column-centered;
  height: 100vh;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 300px;
  border-radius: 20px;
}

.left-side,
.right-side,
.weather-wrapper {
  @include flex-column-centered;
}

h2 {
  margin-top: 0px;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  height: 50px;
  z-index: 300;
  height: 250px;
}

.search-wrapper {
  @include flex-row-centered;
  background: rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 100px;
  border-radius: 20px;
  z-index: 300;
}

.city-search {
  @include search-styles;
}

.state-search {
  @include search-styles;
}

textarea:focus,
input:focus {
  outline: none;
}
